asgiref==3.2.3
djangorestframework==3.11.0
# TODO Replace with proper djongo library when they release django3 support
git+https://github.com/nesdis/djongo.git@953fec5bbf4b7297b9ea6a16269d2ae45335f257
jsonfield>=2.0.2
django-jsoneditor>=0.0.12
Django==3.0.*
pytz==2019.3
psycopg2==2.8.4
PyJWT==1.7.1
gunicorn
django-heroku
dnspython==1.16.0
sqlparse==0.2.4
pillow
dj_database_url
whitenoise
django-cors-headers==3.4.0
