<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="<%=static_root%>/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="manifest" href="<%=static_root%>/manifest.json">
    <title>Suary</title>
</head>
<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="app" api-root-url="<%=api_url%>">
</div>
</body>
<script src="<%=static_root%>/build/bundle.js"></script>
</html>
